      <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css" type="text/css">
      <link rel="stylesheet" href="/sweetalert2/sweetalert2.min.css" type="text/css">
      <link rel="stylesheet" href="/boxicons/boxicons.min.css" type="text/css">
      <link rel="stylesheet" href="/css/register.min.css" type="text/css">
      
   </head>

	<body>
      {{> loader}}

      <div class="l-form">
         {{!-- <div class="shape1"></div>
         <div class="shape2"></div> --}}

         <div class="container">
            <div class="row">
               <div class="col-md-6 mx-auto">
                  {{> alerts}}
                  {{> errors}}
               </div>
            </div>

            <form action="/register" method="POST">
               <div class="row d-flex align-content-center">
                  <div class="col-md-12 tittle">
                     <h3>Datos Personales</h3>
                  </div>
               </div>

               <div class="row">
                  <div class="col-md-3">
                     <div class="form__div form__div-one">
                        <div class="form__icon">
                           <i class='bx bx-credit-card-front bx-tada' ></i>
                        </div>
   
                        <div class="form__div-input">
                           <label for="" class="form__label">Cédula</label>
                           <input type="text" class="form__input" name="cedula" id="cedula" onkeypress="return numeros(event)" onkeyUp="return Cedula(this);" maxlength="10" value="{{cedulaN}}" required>
                        </div>
                     </div>
                  </div>

                  <div class="col-md-3">
                     <div class="form__div form__div-one">
                        <div class="form__icon">
                           <i class='bx bx-user-circle bx-tada' ></i>
                        </div>
   
                        <div class="form__div-input">
                           <label for="" class="form__label">Apellidos</label>
                           <input type="text" class="form__input" id="apellidos" name="apellidos" value="{{apellidosN}}" onkeypress="return letra(event)" required>
                        </div>
                     </div>
                  </div>

                  <div class="col-md-3">
                     <div class="form__div form__div-one">
                        <div class="form__icon">
                           <i class='bx bx-user-circle bx-tada' ></i>
                        </div>
   
                        <div class="form__div-input">
                           <label for="" class="form__label">Nombres</label>
                           <input type="text" class="form__input" id="nombres" name="nombres" value="{{nombresN}}" onkeypress="return letra(event)" required>
                        </div>
                     </div>
                  </div>

                  <div class="col-md-3">
                     <div class="form__div form__div-one">
                        <div class="form__icon">
                           <i class='bx bx-cake bx-tada' ></i>
                        </div>
   
                        <div class="form__div-input">
                           <label for="" class="form__label">Fecha Nacimiento</label>
                           <input type="date" class="form__input" id="fech_nacimiento" name="fech_nacimiento" onkeypress="return date(event)" required>
                        </div>
                     </div>
                  </div>
               </div>

               <div class="row">
                  <div class="col-md-3">
                     <div class="form__div form__div-one">
                        <div class="form__icon">
                           <i class='bx bx-user-pin bx-tada' ></i>
                        </div>
   
                        <div class="form__div-input">
                           <label for="" class="form__label">Género</label>
                           <select class="form__input" name="genero" id="genero" required>
                              <option value selected disabled>Seleccionar...</option>
                              <option value="Masculino">Masculino</option>
                              <option value="Femenino">Femenino</option>
                              <option value="No Definido">No Definido</option>
                           </select>
                        </div>
                     </div>
                  </div>

                  <div class="col-md-3">
                     <div class="form__div form__div-one">
                        <div class="form__icon">
                           <i class='bx bx-phone-call bx-tada' ></i>
                        </div>
   
                        <div class="form__div-input">
                           <label for="" class="form__label">Teléfono</label>
                           <input type="text" class="form__input" id="telefono" name="telefono" value="{{telefonoN}}" onkeypress="return numeros(event)" maxlength="10" required>
                        </div>
                     </div>
                  </div>

                  <div class="col-md-4">
                     <div class="form__div form__div-one">
                        <div class="form__icon">
                           <i class='bx bx-mail-send bx-tada' ></i>
                        </div>
   
                        <div class="form__div-input">
                           <label for="" class="form__label">Email</label>
                           <input type="email" class="form__input" name="email" id="email" value="{{emailN}}" required>
                        </div>
                     </div>
                  </div>
               </div>

               <div class="row d-flex align-content-center">
                  <div class="col-md-12 tittle">
                     <h3>Inicio de Sesión</h3>
                  </div>
               </div>

               <div class="row">
                  <div class="col-md-3">
                     <div class="form__div form__div-one">
                        <div class="form__icon">
                           <i class='bx bx-select-multiple bx-tada' ></i>
                        </div>
   
                        <div class="form__div-input">
                           <label for="" class="form__label">Privilegio</label>
                           <select class="form__input" name="privilegio" id="privilegio" required>
                              <option value selected disabled>Seleccionar...</option>
                              <option value="Administrador">Administrador</option>
                              <option value="Sacerdote">Sacerdote</option>
                              <option value="Secretaria">Secretaria</option>
                           </select>
                        </div>
                     </div>
                  </div>

                  <div class="col-md-3">
                     <div class="form__div form__div-one">
                        <div class="form__icon">
                           <i class='bx bxl-500px bx-tada' ></i>
                        </div>
   
                        <div class="form__div-input">
                           <label for="" class="form__label">Contraseña</label>
                           <input type="password" class="form__input" name="password" id="password" autocomplete="cedula" value="{{passwordN}}" required>
                        </div>
                     </div>
                  </div>

                  <div class="col-md-3">
                     <div class="form__div form__div-one">
                        <div class="form__icon">
                           <i class='bx bxl-500px bx-tada' ></i>
                        </div>
   
                        <div class="form__div-input">
                           <label for="" class="form__label">Confirmar Contraseña</label>
                           <input type="password" class="form__input" name="conf_password" id="conf_password" autocomplete="cedula" value="{{conf_passwordN}}" required>
                        </div>
                     </div>
                  </div>

                  <div class="col-md-3">
                     <div class="form__div form__div-one">
                        <div class="form__icon">
                           <i class='bx bx-info-circle bx-tada' ></i>
                        </div>
   
                        <div class="form__div-input">
                           <label for="" class="form__label">Estado</label>
                           <select class="form__input" name="estado" id="estado" required>
                              <option value selected disabled>Seleccionar...</option>
                              <option value="Enabled">Activo</option>
                              <option value="Disabled">Desactivado</option>
                           </select>
                        </div>
                     </div>
                  </div>
               </div>

               <div class="row">
                  <div class="col-md-3">
                     <input type="submit" class="form__button" id="Enviar" value="Registrar" disabled>
                  </div>
               </div>
            </form>
         </div>
      </div>

      <script src="/js/jquery-3.5.1.min.js"></script>
      <script src="/bootstrap/js/bootstrap.min.js"></script>
      <script src="/sweetalert2/sweetalert2.min.js"></script>
      {{!-- <script src="/fontawesome/js/all.min.js"></script> --}}
      <script src="/js/login.min.js"></script>
      <script src="/js/validation.min.js"></script>

      <script>
         var n = new Date();
         var y = n.getFullYear();
         var m = n.getMonth()+1;
         var d = n.getDate();

         var today = y.toString().padStart(4, 0)+"-"+m.toString().padStart(2, 0)+"-"+d.toString().padStart(2, 0);
         var elem = document.getElementById("fech_nacimiento");

         function restric(e){
            e.value = today;
            e.setAttribute("max",today);
         }

         restric(elem);
      </script>

      <script>
         $("#genero").val("{{generoN}}");
         $("#privilegio").val("{{privilegioN}}");
         $("#estado").val("{{estadoN}}");

         var dateControl = document.querySelector('input[type="date"]');
         dateControl.value = '{{fech_nacimientoN}}';
      </script>