      <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css" type="text/css">
      <link rel="stylesheet" href="/sweetalert2/sweetalert2.min.css" type="text/css">
      <link rel="stylesheet" href="/boxicons/boxicons.min.css" type="text/css">
      <link rel="stylesheet" href="/css/navSecretaria.min.css" type="text/css">
      <link rel="stylesheet" href="/css/servicesSec.min.css" type="text/css">
      <link rel="stylesheet" href="/css/events.min.css" type="text/css">
      <link rel="stylesheet" href="/css/register.min.css" type="text/css">
      <link rel="stylesheet" href="/css/myCSS.min.css" type="text/css">
      
   </head>

	<body>
      {{> loader}}
      {{> navBarS}}

      <div class="container p-30 mb-4">
         <div class="row">
            <div class="col-md-12 tittleSEC">
               <div class="service__title">Eventos</div>
            </div>
         </div>

         <div class="row">
            <div class="col-md-3">
               <button class="btn__Add"><i class='bx bx-add-to-queue bx-tada' ></i> Añadir</button>
            </div>
         </div>
         
         <div class="row mt-3">
            {{#if listEvents}}
               {{#each listEvents}}
                  <div class="col-md-6">
                     <div class="alert alert-{{color}} alert-dismissible fade show" role="alert">
                        <div class="tittle__alert">
                           <strong>Evento #{{#counter @index}} {{/counter}}</strong>
                           <p class="subtittle__alert">{{timeDate fecha}}</p>
                        </div>
                        <p class="parrafo__alert">
                           {{descripcion}}
                        </p>
                        <div class="btn__alerts">
                           <button class="btn__Edit" onclick="editEvent(`{{id}}`)">
                              <i class='bx bx-message-square-edit bx-tada' ></i>
                           </button>

                           <button class="btn__Delete" onclick="deleteEvent(`{{id}}`, `{{#counter @index}} {{/counter}}`)">
                              <i class='bx bx-message-square-minus bx-tada' ></i>
                           </button>
                        </div>
                     </div>
                  </div>
               {{/each}}
            {{else}}
               <div class="col-md-6 mx-auto">
                  <div class="alert alert-info alert-dismissible fade show" role="alert">
                     <div class="tittle__alert">
                        <strong>Aviso</strong>
                        <p class="subtittle__alert">{{nowFecha}}</p>
                     </div>
                     <p class="parrafo__alert">
                        No se tiene eventos pendientes.
                     </p>
                     <div class="btn__alerts">
                        <button class="btn__Edit" onclick="editEvent(`id`)">
                           <i class='bx bx-message-square-edit bx-tada' ></i>
                        </button>

                        <button class="btn__Delete" onclick="deleteEvent(`id`)">
                           <i class='bx bx-message-square-minus bx-tada' ></i>
                        </button>
                     </div>
                  </div>
               </div>
            {{/if}}
         </div>
      </div>

      <script src="/js/jquery-3.5.1.min.js"></script>
      <script src="/js/popper.min.js"></script>
      <script src="/bootstrap/js/bootstrap.min.js"></script>
      <script src="/sweetalert2/sweetalert2.min.js"></script>
      <script src="/fontawesome/js/all.min.js"></script>
      <script src="/js/navSecretaria.min.js"></script>

      {{!-- Modal Save Evento --}}
      <div class="modal fade" id="modalAddEvents" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
         <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
               <div class="modal-header header__modal">
                  <h5 class="modal-title tittle__modal" id="staticBackdropLabel">Añadir evento</h5>
               </div>
               <div class="modal-body body__modal">
                  <div class="row mb-1">
                     <div class="col-md-4 mb-3">
                        <div class="form-check form-check-primary radio radio-primary col-md-2">
                           <input class="form-check-input" type="radio" name="color_events" id="inlineRadio1" value="primary" >
                           <label class="form-check-label" for="inlineRadio1">
                              <span class="badge badge-pill badge-primary">Primary</span>
                           </label>
                        </div>
                     </div>

                     <div class="col-md-4 mb-3">
                        <div class="form-check form-check-success radio radio-success col-md-2">
                           <input class="form-check-input" type="radio" name="color_events" id="inlineRadio2" value="success" >
                           <label class="form-check-label" for="inlineRadio2">
                              <span class="badge badge-pill badge-success">Success</span>
                           </label>
                        </div>
                     </div>

                     <div class="col-md-4 mb-3">
                        <div class="form-check form-check-danger radio radio-danger col-md-2">
                           <input class="form-check-input" type="radio" name="color_events" id="inlineRadio3" value="danger" >
                           <label class="form-check-label" for="inlineRadio3">
                              <span class="badge badge-pill badge-danger">Danger</span>
                           </label>
                        </div>
                     </div>

                     <div class="col-md-4 mb-3">
                        <div class="form-check form-check-info radio radio-info col-md-2">
                           <input class="form-check-input" type="radio" name="color_events" id="inlineRadio4" value="info" >
                           <label class="form-check-label" for="inlineRadio4">
                              <span class="badge badge-pill badge-info">Info</span>
                           </label>
                        </div>
                     </div>

                     <div class="col-md-4 mb-3">
                        <div class="form-check form-check-warning radio radio-warning col-md-2">
                           <input class="form-check-input" type="radio" name="color_events" id="inlineRadio5" value="warning" >
                           <label class="form-check-label" for="inlineRadio5">
                              <span class="badge badge-pill badge-warning">Warning</span>
                           </label>
                        </div>
                     </div>
                  </div>

                  <div class="row">
                     <div class="col-md-12">
                        <div class="form__div form__div-one">
                           <div class="form__icon">
                              <i class='bx bx-calendar-check bx-tada' ></i>
                           </div>
      
                           <div class="form__div-input">
                              <label for="" class="form__label">Fecha</label>
                              <input type="date" class="form__input" id="fech_events" name="fech_events" required>
                           </div>
                        </div>
                     </div>
                  </div>

                  <div class="row">
                     <div class="col-md-12">
                        <div class="form__div form__div-one content__TA" style="margin-bottom: 1rem;">
                           <div class="form__icon">
                              <i class='bx bx-notepad bx-tada' ></i>
                           </div>
      
                           <div class="form__div-input">
                              <label for="" class="form__label">Descripción</label>
                              <textarea class="form__input" name="description_events" id="description_events" oninput="autoSize(this)"></textarea>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>

               <div class="modal-footer footer__modal">
                  <button type="button" class="btn__Close" data-dismiss="modal">Cerrar</button>

                  <button type="button" class="btn__Send">Enviar</button>
               </div>
            </div>
         </div>
      </div>

      {{!-- Modal Edit Evento --}}
      <div class="modal fade" id="modalEditEvents" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
         <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
               <div class="modal-header header__modal">
                  <h5 class="modal-title tittle__modal" id="staticBackdropLabel">Añadir evento</h5>
               </div>
               <div class="modal-body body__modal">
                  <div class="row mb-1">
                     <div class="col-md-4 mb-3">
                        <div class="form-check form-check-primary radio radio-primary col-md-2">
                           <input class="form-check-input" type="radio" name="color_eventsEd" id="inlineRadio1" value="primary" >
                           <label class="form-check-label" for="inlineRadio1">
                              <span class="badge badge-pill badge-primary">Primary</span>
                           </label>
                        </div>
                     </div>

                     <div class="col-md-4 mb-3">
                        <div class="form-check form-check-success radio radio-success col-md-2">
                           <input class="form-check-input" type="radio" name="color_eventsEd" id="inlineRadio2" value="success" >
                           <label class="form-check-label" for="inlineRadio2">
                              <span class="badge badge-pill badge-success">Success</span>
                           </label>
                        </div>
                     </div>

                     <div class="col-md-4 mb-3">
                        <div class="form-check form-check-danger radio radio-danger col-md-2">
                           <input class="form-check-input" type="radio" name="color_eventsEd" id="inlineRadio3" value="danger" >
                           <label class="form-check-label" for="inlineRadio3">
                              <span class="badge badge-pill badge-danger">Danger</span>
                           </label>
                        </div>
                     </div>

                     <div class="col-md-4 mb-3">
                        <div class="form-check form-check-info radio radio-info col-md-2">
                           <input class="form-check-input" type="radio" name="color_eventsEd" id="inlineRadio4" value="info" >
                           <label class="form-check-label" for="inlineRadio4">
                              <span class="badge badge-pill badge-info">Info</span>
                           </label>
                        </div>
                     </div>

                     <div class="col-md-4 mb-3">
                        <div class="form-check form-check-warning radio radio-warning col-md-2">
                           <input class="form-check-input" type="radio" name="color_eventsEd" id="inlineRadio5" value="warning" >
                           <label class="form-check-label" for="inlineRadio5">
                              <span class="badge badge-pill badge-warning">Warning</span>
                           </label>
                        </div>
                     </div>
                  </div>

                  <div class="row">
                     <input type="hidden" name="id_eventsEd" id="id_eventsEd">
                  </div>

                  <div class="row">
                     <div class="col-md-12">
                        <div class="form__div form__div-one">
                           <div class="form__icon">
                              <i class='bx bx-calendar-check bx-tada' ></i>
                           </div>
      
                           <div class="form__div-input">
                              <label for="" class="form__label">Fecha</label>
                              <input type="date" class="form__input" id="fech_eventsEd" name="fech_eventsEd" required>
                           </div>
                        </div>
                     </div>
                  </div>

                  <div class="row">
                     <div class="col-md-12">
                        <div class="form__div form__div-one content__TAEd" style="margin-bottom: 1rem;">
                           <div class="form__icon">
                              <i class='bx bx-notepad bx-tada' ></i>
                           </div>
      
                           <div class="form__div-input">
                              <label for="" class="form__label">Descripción</label>
                              <textarea class="form__input" name="description_eventsEd" id="description_eventsEd" oninput="autoSizeEd(this)"></textarea>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>

               <div class="modal-footer footer__modal">
                  <button type="button" class="btn__Close" data-dismiss="modal">Cerrar</button>

                  <button type="button" class="btn__Update">Actualizar</button>
               </div>
            </div>
         </div>
      </div>

      <script src="/js/login.min.js"></script>

      <script>
         const openModalAdd = document.querySelector('.btn__Add');

         openModalAdd.onclick = () => {
            $('input[name="color_events"]').prop('checked', false);
            $('#fech_events').val('');
            $('#description_events').val('');
            $('#modalAddEvents').modal('show');
         }

         const content__TA = document.querySelector('.content__TA');

         function autoSize(textarea) {
            textarea.style.height = "44px";
            content__TA.style.height = "42px";
            textarea.style.height = (textarea.scrollHeight)+"px";
            content__TA.style.height = (textarea.scrollHeight)+"px";
         }

         const content__TAEd = document.querySelector('.content__TAEd');

         function autoSizeEd(textarea) {
            textarea.style.height = "44px";
            content__TAEd.style.height = "42px";
            textarea.style.height = (textarea.scrollHeight)+"px";
            content__TAEd.style.height = (textarea.scrollHeight)+"px";
         }

         const btn__Send = document.querySelector('.btn__Send');

         btn__Send.onclick = (e) => {
            fechaEv = $.trim($('#fech_events').val());
            descriptionEv = $.trim($('#description_events').val());
            colorEv = $.trim($('input[name="color_events"]:checked').val());

            if (fechaEv === '' || descriptionEv === '' || colorEv === '') {
               Swal.fire({
                  position: 'top-end',
                  imageUrl: '/img/SMMIglesia.png',
                  imageWidth: 80,
                  imageHeight: 100,
                  imageAlt: 'SMM Iglesia',
                  title: 'CAMPOS VACÍOS',
                  html: `<p style="font-size: 1rem;">Los campos no pueden ir vacíos o con espacios.</p>`,
                  showConfirmButton: false,
                  timer: 1500,
                  allowOutsideClick: false
               })
            } else {
               Swal.fire({
                  title: `NUEVO EVENTO`,
                  html: `<p style="font-size: 1rem;">¿Deseas guardar este evento?</p>`,
                  imageUrl: '/img/SMMIglesia.png',
                  imageWidth: 80,
                  imageHeight: 100,
                  imageAlt: 'SMM Iglesia',
                  showCancelButton: true,
                  confirmButtonColor: '#049947',
                  cancelButtonColor: '#f34943',
                  confirmButtonText: 'Sí, guardar!',
                  cancelButtonText: 'No, cancelar!',
                  reverseButtons: true,
                  focusConfirm: false,
                  focusCancel: true,
                  allowOutsideClick: false
               }).then((result) => {
                  if (result.value == true) {
                     bloqueointerface();

                     $.ajax({
                        url: `/s/saveEvento`,
                        type: 'POST',
                        dataType: 'json',
                        data: {
                           fechaEv,
                           colorEv,
                           descriptionEv
                        }
                     })
                     .done(function(res) {
                        desbloqueointerface();

                        if (res.res === 'img') {
                           Swal.fire({
                              title: res.tittle,
                              html: `<p style="font-size: 1rem;">${res.description}</p>`,
                              imageUrl: res.icon,
                              imageWidth: 100,
                              imageHeight: 100,
                              imageAlt: 'SMM Iglesia',
                              allowOutsideClick: false
                           }).then((result) => {
                              if (result.value == true) {
                                 $("#modalAddEvents").modal('hide');
                                 location.reload();
                              }
                           })
                        }

                        if (res.res === 'icon') {
                           Swal.fire({
                              title: res.tittle,
                              html: `<p style="font-size: 1rem;">${res.description}</p>`,
                              icon: res.icon,
                              allowOutsideClick: false
                           })
                        }
                     })
                     .fail(function() {
                        desbloqueointerface();
                        console.log("Error");
                     });
                  }
               })
            }
         }

         const deleteEvent = (idEvent, numEv) => {
            Swal.fire({
               title: `ELIMINAR EVENTO`,
               html: `<p style="font-size: 1rem;">¿Deseas eliminar el evento #${numEv}?</p>`,
               imageUrl: '/img/SMMIglesia.png',
               imageWidth: 80,
               imageHeight: 100,
               imageAlt: 'SMM Iglesia',
               showCancelButton: true,
               confirmButtonColor: '#049947',
               cancelButtonColor: '#f34943',
               confirmButtonText: 'Sí, eliminar!',
               cancelButtonText: 'No, cancelar!',
               reverseButtons: true,
               focusConfirm: false,
               focusCancel: true,
               allowOutsideClick: false
            }).then((result) => {
               if (result.value == true) {
                  bloqueointerface();

                  $.ajax({
                     url: `/s/deleteEvento`,
                     type: 'POST',
                     dataType: 'json',
                     data: {
                        idEvent
                     }
                  })
                  .done(function(res) {
                     desbloqueointerface();
                     if (res.res === 'img') {
                           Swal.fire({
                              title: res.tittle,
                              html: `<p style="font-size: 1rem;">${res.description}</p>`,
                              imageUrl: res.icon,
                              imageWidth: 100,
                              imageHeight: 100,
                              imageAlt: 'SMM Iglesia',
                              allowOutsideClick: false
                           }).then((result) => {
                              if (result.value == true) {
                                 location.reload();
                              }
                           })
                        }

                        if (res.res === 'icon') {
                           Swal.fire({
                              title: res.tittle,
                              html: `<p style="font-size: 1rem;">${res.description}</p>`,
                              icon: res.icon,
                              allowOutsideClick: false
                           })
                        }
                  })
                  .fail(function() {
                     desbloqueointerface();
                     console.log("Error");
                  });
               }
            })
         }

         const editEvent = (idEvent) => {
            bloqueointerface();

            $.ajax({
               url: `/s/searchEvento`,
               type: 'GET',
               dataType: 'json',
               data: {
                  idEvent
               }
            })
            .done(function(res) {
               desbloqueointerface();
               
               $('#id_eventsEd').val('');
               $('input[name="color_eventsEd"]').prop('checked', false);
               $('#fech_eventsEd').val('');
               $('#description_eventsEd').val('');

               if (res.res == 'data') {
                  desbloqueointerface();

                  $('#id_eventsEd').val(`${res.data.id}`);
                  $(`input[name=color_eventsEd][value='${res.data.color}']`).prop("checked", true);
                  $('#fech_eventsEd').val(`${res.data.fecha}`);
                  $('#description_eventsEd').val(`${res.data.descripcion}`);
                  $('#modalEditEvents').modal('show');
               }

               if (res.res == 'not data') {
                  desbloqueointerface();

                  Swal.fire({
                     position: 'top-end',
                     title: res.tittle,
                     html: res.description,
                     icon: res.icon,
                     allowOutsideClick: false,
                     showConfirmButton: false,   
                     timer: 1500
                  })
               }
            })
            .fail(function() {
               desbloqueointerface();
               console.log("Error");
            });
         }

         const btn__Update = document.querySelector('.btn__Update');

         btn__Update.onclick = (e) => {
            idEv = $.trim($('#id_eventsEd').val());
            fechaEv = $.trim($('#fech_eventsEd').val());
            descriptionEv = $.trim($('#description_eventsEd').val());
            colorEv = $.trim($('input[name="color_eventsEd"]:checked').val());

            if (idEv === '' || fechaEv === '' || descriptionEv === '' || colorEv === '') {
               Swal.fire({
                  position: 'top-end',
                  imageUrl: '/img/SMMIglesia.png',
                  imageWidth: 80,
                  imageHeight: 100,
                  imageAlt: 'SMM Iglesia',
                  title: 'CAMPOS VACÍOS',
                  html: `<p style="font-size: 1rem;">Los campos no pueden ir vacíos o con espacios.</p>`,
                  showConfirmButton: false,
                  timer: 1500,
                  allowOutsideClick: false
               })
            } else {
               Swal.fire({
                  title: `ACTUALIZAR EVENTO`,
                  html: `<p style="font-size: 1rem;">¿Deseas actualizar el evento #${idEv}?</p>`,
                  imageUrl: '/img/SMMIglesia.png',
                  imageWidth: 80,
                  imageHeight: 100,
                  imageAlt: 'SMM Iglesia',
                  showCancelButton: true,
                  confirmButtonColor: '#049947',
                  cancelButtonColor: '#f34943',
                  confirmButtonText: 'Sí, actualizar!',
                  cancelButtonText: 'No, cancelar!',
                  reverseButtons: true,
                  focusConfirm: false,
                  focusCancel: true,
                  allowOutsideClick: false
               }).then((result) => {
                  if (result.value == true) {
                     bloqueointerface();

                     $.ajax({
                        url: `/s/updateEvento`,
                        type: 'POST',
                        dataType: 'json',
                        data: {
                           idEv,
                           fechaEv,
                           colorEv,
                           descriptionEv
                        }
                     })
                     .done(function(res) {
                        desbloqueointerface();
                        
                        if (res.res === 'img') {
                           Swal.fire({
                              title: res.tittle,
                              html: `<p style="font-size: 1rem;">${res.description}</p>`,
                              imageUrl: res.icon,
                              imageWidth: 100,
                              imageHeight: 100,
                              imageAlt: 'SMM Iglesia',
                              allowOutsideClick: false
                           }).then((result) => {
                              if (result.value == true) {
                                 $("#modalEditEvents").modal('hide');
                                 location.reload();
                              }
                           })
                        }

                        if (res.res === 'icon') {
                           Swal.fire({
                              title: res.tittle,
                              html: `<p style="font-size: 1rem;">${res.description}</p>`,
                              icon: res.icon,
                              allowOutsideClick: false
                           })
                        }
                     })
                     .fail(function() {
                        desbloqueointerface();
                        console.log("Error");
                     });
                  }
               })
            }
         }

      </script>